.oauestats_notscheduled {
    background-color: rgba(217,83,80,1.0);
}
.oauestats_declined {
    background-color: rgba(90,90,90,1.0);
}
.oauestats_requested {
    background-color: rgba(240,173,78,1.0);
}
.oauestats_scheduled {
    background-color: rgba(91,192,222,1.0);
}
.oauestats_pastdue {
    background-color: rgba(140,0,255,1.0);
}
.oauestats_posted {
    background-color: rgba(92,184,92,1.0);
}
.oauestats_approved {
    background-color: rgba(92,184,92,1.0);
}

