.oauestats_table {
    border: 2px solid black;
}
.oauestats_table tr th {
    text-align: left;
    border: 1px solid black;
}
.oauestats_table tr td {
    text-align: center;
    border: 1px solid black;
}
.oauestats_moreadults {
    background-color: rgb(125, 250, 125);
}

